<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C88293A18369DD70051653C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C88294F18369DD70051653C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9A2A061836FEAE0059FE17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9C3EB8176BC53800E982C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9C3EC9176BC53900E982C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
